
.container {
  word-break: break-all;
}

.title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.description {
  font-size: 28px;
  letter-spacing: 6px;
  font-weight: 300;
}
