:host {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.container {
  padding: 10px 30px;
  position: relative;
}

.main {
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.time {
  color: #a9a9a9;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}

.summary {
  font-size: 30px;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.media-report {
  height: 300px;
  border: 1px solid red;
}

.relative-event {
  height: 300px;
  border: 1px solid green;
}
