:host {
  margin-bottom: 30px;
  display: block;
}

.info-card {

  &-title {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  &-description {
    font-size: 28px;
    letter-spacing: 6px;
    font-weight: 300;
    margin-bottom: 20px;
    overflow: hidden;
    transition: max-height ease-in-out 300ms;
    max-height: 0;

    &-active {
      max-height: 60vh;
    }
  }

  &-time {
    color: #a9a9a9;
    font-size: 26px;
    font-weight: 300;
  }
}
